header {
  height: 100%;
  width: 100%;
  background: #000000;
  /* fallback for old browsers */
  background: linear-gradient(to right, rgba(255, 196, 0, 0.4196078431), #000000), url(/Multimedia/Images/programinghtml.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(255, 196, 0, 0.4196078431), #000000), url(/Multimedia/Images/programinghtml.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
header .textos-header {
  display: flex;
  width: 100%;
  height: 430px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header {
  color: white;
}
.textos-header h1 {
  font-size: 50px;
  color: white;
}
.textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.navs {
  text-align: right;
  padding: 30px 50px 0 0;
}
.navs > a {
  color: white;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}
.navs > a:hover {
  text-decoration: underline;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* Colores */
/* Fonts size */
.contenedor-sobre-mi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  animation-name: mover;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-bottom: 100px;
  margin-top: 100px;
}
.contenedor-sobre-mi .contenido-textos {
  margin-left: 20px;
  width: 100%;
}
.contenedor-sobre-mi .contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}
.contenedor-sobre-mi .contenido-textos span {
  background: rgb(255, 187, 0);
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 3px;
  box-shadow: none;
  margin-right: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.contenedor-sobre-mi .contenido-textos h3 {
  margin-bottom: 15px;
}

.contenedor-hobbies {
  margin-bottom: 100px;
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  justify-items: center;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
  background-image: linear-gradient(to right, rgba(255, 196, 0, 0.4196078431), #000000), url(/Multimedia/Images/lifting\ background.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  flex-direction: column;
}
.contenedor-hobbies h2 {
  color: rgb(170, 149, 81);
  font-size: 60px;
  text-align: center;
}
.contenedor-hobbies h3 {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: 200;
}

.galeria-me {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-me {
  width: 400px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.imagen-me > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-me {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsl(44deg, 100%, 50%);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hover-me img {
  width: 1fr;
}
.hover-me p {
  color: white;
}
.hover-me:hover .hover-me {
  transform: scale(1);
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: #f2f2f2;
  margin-bottom: 100px;
}

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.imagen-port:hover .hover-galeria {
  transform: scale(1);
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsl(44deg, 100%, 50%);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hover-galeria img {
  width: 50px;
}
.hover-galeria p {
  color: white;
}

.cardsn {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  justify-items: center;
  align-items: space-evenly;
}
.cardsn .cardn {
  background: rgb(255, 187, 0);
  display: flex;
  width: 80%;
  height: 80%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.cardsn .cardn > .contenido-texto-card {
  width: 100%;
  height: 100%;
  color: #fff;
}
.cardsn .cardn > .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
}
.cardsn .cardn img {
  width: 80px;
  height: 100%;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.about-service {
  background: #f2f2f2;
  padding-bottom: 20px;
}

.servicio-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  row-gap: 20px;
  column-gap: 20px;
  grid-row-start: 1;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.servicio-ind {
  width: 28%;
  text-align: center;
}
.servicio-ind img {
  width: 100%;
}
.servicio-ind h3 {
  margin: 20px 0;
}
.servicio-ind p {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-weight: 300;
  text-align: justify;
}

.footers {
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.contenedor-footer {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
}

.content-foo {
  text-align: center;
  height: 500px;
}
.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid rgb(255, 187, 0);
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.content-foo p {
  color: #ccc;
  height: 100%;
}

.titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}

.contacton {
  text-align: center;
  border: 4px solid rgb(255, 187, 0);
  border-radius: 3px;
  width: 100%;
  height: 100%;
  margin: 40px 0;
  padding: 50px;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-row label {
  margin-bottom: 15px;
}
.form-row textarea {
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 7px;
  min-height: 200px;
  width: 100%;
  height: 100%;
  resize: none;
}
.form-row .instructions {
  color: #999;
  margin-bottom: 30px;
  font-size: 14px;
}
.form-row .button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(255, 187, 0);
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}
.form-row .button:hover {
  background-color: rgb(226, 166, 1);
}
.form-row .button:active {
  background-color: rgb(255, 217, 2);
}

.form-row input[type=text],
.form-row input[type=email] {
  background-color: rgb(245, 244, 244);
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  padding: 7px;
  font-size: 14px;
}

@keyframes mover {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* RESPONSIVE */
@media screen and (max-width: 1200px) {
  .about-service {
    background: #f2f2f2;
    padding-bottom: 20px;
  }

  .servicio-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    row-gap: 20px;
    column-gap: 20px;
    grid-row-start: 2;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
  }

  .servicio-ind {
    width: 50%;
    text-align: center;
  }
  .servicio-ind img {
    width: 100%;
  }
  .servicio-ind h3 {
    margin: 20px 0;
  }
  .servicio-ind p {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-weight: 300;
    text-align: justify;
  }

  .cardsn {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: space-evenly;
    margin-left: 30px;
  }
  .cardsn .cardn {
    background: rgb(255, 187, 0);
    display: flex;
    width: 90%;
    height: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  }
  .cardsn .cardn > .contenido-texto-card {
    width: 90%;
    height: 90%;
    color: #fff;
  }
  .cardsn .cardn > .contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
  }
  .cardsn .cardn img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
  }

  .contenedor-sobre-mi {
    display: flex;
    flex-wrap: wrap;
    animation-name: mover;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 20px;
  }
  .contenedor-sobre-mi .contenido-textos {
    width: 70%;
    height: 100%;
  }
  .contenedor-sobre-mi .contenido-textos p {
    padding: 1rem 1rem 1rem;
    font-weight: 300;
    text-align: justify;
    margin-left: 10px;
  }
  .contenedor-sobre-mi .contenido-textos span {
    background: rgb(255, 187, 0);
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: none;
    margin-right: 15px;
    margin-left: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  }
  .contenedor-sobre-mi .contenido-textos h3 {
    margin-bottom: 15px;
    margin-left: 10px;
  }
}
.imagen-me {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.imagen-me > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hubballi", cursive;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulod {
  color: rgb(255, 187, 0);
  font-size: 35px;
  text-align: center;
  margin-bottom: 60px;
  background-color: #f2f2f2;
}

/*# sourceMappingURL=style.css.map */
