header{
    @include sizes(100%, 600px);
    background: #000000;
    /* fallback for old browsers */
    background: linear-gradient(to right, #ffc4006b, #000000), url(/Multimedia/Images/programinghtml.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc4006b, #000000), url(/Multimedia/Images/programinghtml.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .textos-header{
        display: flex;
        @include sizes(100%, 430px);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

.textos-header {
    color: white;
    h1{
        font-size: 50px;
        color: white;
    }
    h2{
        font-size: 30px;
        font-weight: 300;
        color: white;
    }
}

.navs {
    text-align: right;
    padding: 30px 50px 0 0;
    >a {
        color: white;
        font-weight: 300;
        text-decoration: none;
        margin-right: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.wave {
    position: absolute;
    bottom: 0;
    @include sizes(100%, 100%);
}